@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
/* font-family: "Big Shoulders", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */

body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.main{
    display: flex;
    width: 920px;
    height: 500px;
}

div.sedans{
    width: 307px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E28625;
    padding: 48px;
}

div.suvs{
    width: 307px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #006971;
    padding: 48px;
}

div.luxury{
    width: 307px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #004140;
    padding: 48px;
}

img{
    width: 64px;
    height: 40px;
}

h1{
    height: 48px;
    color: #F2F2F2;
    margin: 35px 0 25px 0;
    font-family: "Big Shoulders", sans-serif;
}

p{
    width: 212px;
    height: 125px;
    margin-bottom: 83px;
    color: white;
    font-size: 15px;
    line-height: 25px;
}

button{
    width: 146px;
    height: 48px;
    border-radius: 25px;
    cursor: pointer;
    color: #004140;
    border: none;
}

button:hover {
    color: white;
    background-color: transparent;
    border: 2px solid;
    border-color: white;
}